In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv("data/train.csv")

In [6]:
df.sample(10)

            Lat      Long_  Deaths  Case_Fatality_Ratio
1006  41.829727 -71.981823     NaN             1.097189
1323  40.472891 -90.208624   138.0             1.106745
3248  36.126843 -84.199658     NaN             1.417678
3976  50.619900  26.251600     NaN             1.479264
2106  46.069962 -94.897853    72.0             0.870722
2005  43.291239 -86.151767     NaN             1.477380
2752  48.766235 -97.552381    16.0             0.691145
1420  38.321180 -85.903854     NaN             1.385125
1101  32.402093 -82.077026   107.0             4.249404
1482  39.852335 -87.461605    82.0             1.716918